* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.clearfix {
    clear: both;
}

@font-face {
    font-family: NotoSansCJKtc-Light;
    src: url(../fonts/NotoSansCJKtc-Light.otf);
}

body {
    background-image: url(../img/bodybackground.jpg);
    ;
}

.leader {
    border-radius: 20px;
    margin: auto;
    position: relative;
    width: 960px;
    height: 650px;
    font-size: 0;
    margin-bottom: 150px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, right;
}

.aboutUsLeader {
    border-radius: 20px;
    margin: auto;
    position: relative;
    width: 960px;
    height: 350px;
    font-size: 0;
    margin-bottom: 25px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(../img/aboutUs/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, right;
}

.roomsLeader {
    border-radius: 20px;
    margin: auto;
    position: relative;
    width: 960px;
    height: 350px;
    font-size: 0;
    margin-bottom: 25px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(../img/rooms/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, right;
}

.foodsLeader {
    border-radius: 20px;
    margin: auto;
    position: relative;
    width: 960px;
    height: 350px;
    font-size: 0;
    margin-bottom: 25px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(../img/dining/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, right;
}

.locationLeader {
    border-radius: 20px;
    margin: auto;
    position: relative;
    width: 960px;
    height: 350px;
    font-size: 0;
    margin-bottom: 25px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(../img/location/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, right;
}

.addressLeader {
    border-radius: 20px;
    margin: auto;
    position: relative;
    width: 960px;
    height: 350px;
    font-size: 0;
    margin-bottom: 25px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(../img/traffic/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, right;
}

.orderLeader {
    border-radius: 20px;
    margin: auto;
    position: relative;
    width: 960px;
    height: 350px;
    font-size: 0;
    margin-bottom: 25px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(../img/order/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, right;
}

.stauts {
    margin: auto;
    height: 45px;
    width: 960px;
    font-size: 0;
}

.stauts .brush {
    width: 150px;
}

.stauts .container {
    width: 100%;
    height: 68px;
    vertical-align: top;
    box-sizing: border-box;
}

.stauts .container .item:first-child {
    margin-right: 20%;
    width: 20%;
}

.stauts .container .item:first-child::after {
    opacity: 0;
}

.stauts .container .item:last-child::after {
    opacity: 0;
}

.stauts .item {
    padding-top: 10px;
    position: relative;
    margin-right: 5%;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
}

.stauts .item::after {
    position: absolute;
    top: 15px;
    right: -25px;
    content: '';
    width: 2px;
    height: 25px;
    background-color: #fff;
}

.stauts .item p {
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}

.stauts .item p span {
    display: block;
    font-size: 10px;
    line-height: 1;
}

.stauts .item p:hover {
    font-size: 18px;
    color: rgb(245, 201, 120);
}

.stauts .item p:nth-child(2) {
    font-size: 1px;
    line-height: 12px;
}

.stauts .item a {
    text-decoration: none;
}

.stauts .item img {
    width: 145px;
    height: 68px;
}

.stauts .item img:hover {
    width: 147px;
    height: 70px;
}

.slogan {
    width: 450px;
    height: 320px;
    position: absolute;
    top: 50%;
    margin-top: -160px;
    margin-left: -225px;
    left: 50%;
}

.slogan img {
    width: 100%;
    height: 100%;
}

.onlineOrder {
    margin: auto;
    height: 70px;
    width: 960px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.55);
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 560px;
}

.onlineOrder .container {
    height: 100%;
    font-size: 0;
}

.onlineOrder .box {
    display: inline-block;
    margin-right: 5%;
    height: 50%;
    width: 14%;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.55);
}

.onlineOrder .container::before {
    display: inline-block;
    content: '';
    width: 0px;
    height: 70px;
    vertical-align: middle;
}

.onlineOrder .box:first-child {
    margin-left: 5%;
}

.onlineOrder .box:last-child {
    background-color: rgba(255, 70, 70, 0.9);
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.1);
}

.onlineOrder .box:last-child:hover {
    background-color: rgba(167, 29, 29, 0.9);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.onlineOrder .box p {
    font-size: 18px;
    color: #fff;
    line-height: 32px;
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    text-align: center;
}

.onlineOrder .box a {
    text-decoration: none;
}

.onlineOrder .box input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.onlineOrder .box select {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.banner {
    position: relative;
    width: 960px;
    height: 450px;
    margin: auto;
    margin-bottom: 150px;
    position: relative;
    background-image: url(../img/sellpoint.png);
    background-position: bottom, right;
    background-size: cover;
}

.fluid img {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 70px;
    margin-left: 330px;
    width: 300px;
    height: 300px;
}

.fluid .text {
    width: 200px;
    height: 200px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.banner .text p {
    font-family: NotoSansCJKtc-Light;
    font-weight: 500;
    font-size: 15px;
}

.banner .text h3 {
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.85);
}

.banner .frame {
    position: absolute;
    top: 0;
    left: 0;
}

.banner .frame img {
    width: 300px;
}

.banner .frame1 {
    position: absolute;
    top: 0;
    right: 0;
}

.banner .frame1 img {
    width: 300px;
}

.comboSet {
    height: 1100px;
    width: 960px;
    margin: auto;
    position: relative;
    margin-bottom: 150px;
}

.comboTitle {
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.comboTitle img {
    width: 200px;
    height: 100px;
}

.paper {
    height: 960px;
    width: 80%;
    margin: auto;
    background-image: url(../img/paper.png);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.comboSet .container {
    height: 50%;
    width: 100%;
    margin: auto;
    font-size: 0;
}

.comboSet .container .item {
    width: 45%;
    height: 90%;
    margin: 2.5%;
    display: inline-block;
    vertical-align: top;
    background-image: url(../img/tag.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom, right;
}

.comboSet .container .item:hover{
    transform:scale(1.05,1.05);
    transition:0.3s;
}

.comboSet .container .item h1 {
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    color: rgba(255, 70, 70, 0.75);
}

.comboSet .item .box {
    width: 100%;
    height: 60%;
    /* box-sizing: border-box;
    border: 1px solid #f00; */
}

.comboSet .item .inner {
    margin-top: 1.25%;
}

.comboSet .item .title {
    text-align: center;
    height: 10%;
    margin-top: 15%;
    /* box-sizing: border-box;
    border: 1px solid #f00; */
}

.comboSet .item .title h3 {
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.75);
}

.comboSet .inner .in_item {
    margin-left: 4%;
    display: inline-block;
    height: 100%;
    width: 44%;
    vertical-align: top;
    /* border: 1px solid #f00;
    box-sizing: border-box; */
}

.traffic {
    display: inline-block;
    width: 100%;
    height: 93.5%;
    padding-top: 20px;
    border: 1.5px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 5px;
    vertical-align: middle;
}

.wealth .traffic {
    padding-top: 0;
}

.comboSet .item .inner .in_item:nth-child(1)::before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 0px;
    height: 100%;
}

.comboSet .inner {
    text-align: center;
}

.lodging {
    display: inline-block;
    width: 100%;
    height: 45%;
    margin-top: 5%;
    border: 1.5px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.traffic h3 {
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.55);
}

.traffic p {
    font-family: NotoSansCJKtc-Light;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: rgba(0, 0, 0, 0.55);
}

.lodging img {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -33px;
    margin-left: 43px;
}

.lodging h3 {
    font-family: NotoSansCJKtc-Light;
    margin-top: 30px;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.55);
}

.lodging h3:nth-child(3) {
    margin-top: 0px;
}

.lodging p {
    font-family: NotoSansCJKtc-Light;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.55);
}

.in_item .house img {
    margin-top: -22px;
    margin-left: 47px;
}

.wealth .house img {
    margin-top: 0;
    margin-left: 5px;
}

.wealth .eating img {
    margin-top: -10px;
    margin-left: 40px;
}

.highSpeed .eating img {
    margin-top: -40px;
    margin-left: 40px;
}

.highSpeed .house span {
    padding-top: 45px;
    vertical-align: top;
    display: inline-block;
    width: 45%;
    height: 100%;
    line-height: 20px;
    box-sizing: border-box;
}

.highSpeed .house span h3:nth-child(2) {
    margin-top: 0px;
}

.highSpeed .house {
    position: relative;
}

.highSpeed .house :first-child :first-child {
    top: -30px;
    left: 20px;
    margin: 0;
    /* border: 1px solid #f00; */
}

.highSpeed .house :nth-child(2) :first-child {
    top: -10px;
    left: 85px;
    margin: 0;
    /* border: 1px solid #f00; */
}

.highSpeed .house span :nth-child(5) {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 65px;
    margin-top: 10px;
    /* border: 1px solid #f00; */
}

.onPaperTree img {
    width: 150px;
    height: 150px;
}

.onPaperTree .tree1 {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 65px;
    margin-left: 15px;
}

.onPaperTree .tree2 {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 300px;
    margin-right: 0px;
    z-index: -1;
}

.onPaperTree .tree3 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 30px;
}

.main_rooms {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 20px;
    position: relative;
    margin: auto;
    height: 780px;
    width: 960px;
    margin-bottom: 150px;
}

.roomsTitle {
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.roomsTitle img {
    width: 200px;
    height: 100px;
}

.main_rooms .container {
    width: 100%;
    height: 100%;
}

.main_rooms .container .item {
    height: 200px;
    margin-bottom: 25px;
}

.main_rooms .container .item:last-child {
    margin-bottom: 0;
}

.main_rooms .box {
    height: 200px;
}

.main_rooms .transform .box {
    width: 180px;
    margin-left: 15px;
    float: left;
    box-sizing: border-box;
}

.main_rooms .transform .box:first-child {
    margin-left: 0;
}

.main_rooms .display .box {
    position: relative;
    width: 395px;
    float: left;
}

.main_rooms .display .box:first-child {
    margin-left: 0;
    width: 565px;
}

.main_rooms .box .text {
    height: 100px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.main_rooms .box h3 {
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.70)
}

.main_rooms .box p {
    font-family: NotoSansCJKtc-Light;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
    color: rgba(255, 255, 255, 0.65)
}

.main_rooms .display .box .text {
    margin-top: 25px;
}

.main_rooms .display .text a {
    display: inline-block;
    margin-top: 20px;
    margin-left: 57.5px;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.95);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    background-color: rgba(255, 70, 70, 0.9);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.main_rooms .display .text a:hover {
    background-color: rgba(167, 29, 29, 0.9);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.main_rooms .display .box .price {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.main_rooms .display .price a {
    display: inline-block;
    margin-left: 455px;
    margin-top: 185px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.80);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    background-color: rgb(88, 87, 79);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.main_rooms .display .price a:hover {
    background-color: rgb(180, 179, 169);
}

.main_rooms .depiction .box .text {
    margin-bottom: 100px;
    width: 300px;
}

.main_rooms .depiction .box h3 {
    text-align: left;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.65)
}

.main_rooms .depiction .box p {
    color: rgba(0, 0, 0, 0.65)
}

.main_rooms .depiction .box {
    position: relative;
    margin-left: 15px;
    width: 565px;
    float: left;
    box-sizing: border-box;
}

.main_rooms .depiction .box:first-child {
    margin-left: 0;
    width: 380px;
}

.main_rooms .transform img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.main_rooms .transform img:hover {
    transform:scale(1.05,1.05);
    transition:0.1s;
    box-shadow:4px 4px 4px rgb(88, 87, 79);
}

.main_rooms .display img {
    width: 100%;
    height: 100%;
}

.main_rooms .depiction img {
    width: 100%;
    height: 100%;
}

.onbackgroundHouse .room img {
    width: 250px;
    height: 150px;
}

.onbackgroundHouse .room {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -70px;
}

.onbackgroundHouse .followMe img {
    width: 200px;
    height: 80px;
}

.onbackgroundHouse .followMe {
    position: absolute;
    bottom: 0;
    margin-bottom: -190px;
    margin-left: 150px;
}

.main_foods {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.30);
    margin: auto;
    height: 780px;
    width: 960px;
    margin-bottom: 150px;
    position: relative;
}

.foodsTitle {
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.foodsTitle img {
    width: 200px;
    height: 100px;
}

.main_foods .container {
    width: 100%;
    height: 100%;
}

.main_foods .container .item {
    height: 200px;
    margin-bottom: 25px;
}

.main_foods .container .item:last-child {
    margin-bottom: 0;
}

.main_foods .box {
    height: 200px;
}

.main_foods .transform .box {
    width: 180px;
    margin-left: 15px;
    float: left;
    box-sizing: border-box;
}

.main_foods .transform .box:first-child {
    margin-left: 0;
}

.main_foods .display .box {
    position: relative;
    width: 565px;
    float: left;
}

.main_foods .display .box:first-child {
    margin-left: 0;
    width: 395px;
}

.main_foods .box .text {
    height: 100px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.main_foods .box h3 {
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.70)
}

.main_foods .box p {
    font-family: NotoSansCJKtc-Light;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
    color: rgba(255, 255, 255, 0.65)
}

.main_foods .display .box .text {
    margin-top: 25px;
}

.main_foods .display .text a {
    display: inline-block;
    margin-top: 20px;
    margin-left: 57.5px;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.95);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    background-color: rgba(255, 70, 70, 0.9);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.main_foods .display .text a:hover {
    background-color: rgba(167, 29, 29, 0.9);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.main_foods .display .box .price {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.main_foods .display .price a {
    display: inline-block;
    margin-left: 20px;
    margin-top: 185px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.80);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    background-color: rgb(88, 87, 79);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.main_foods .display .price a:hover {
    background-color: rgb(180, 179, 169);
}

.main_foods .depiction .box .text {
    margin-bottom: 100px;
    width: 380px;
}

.main_foods .depiction .box h3 {
    padding-top: 20px;
    padding-right: 120px;
    text-align: left;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.65)
}

.main_foods .depiction .box p {
    padding-right: 120px;
    color: rgba(0, 0, 0, 0.65)
}

.main_foods .depiction .box {
    position: relative;
    margin-left: 15px;
    width: 380px;
    float: left;
    box-sizing: border-box;
}

.main_foods .depiction .box:first-child {
    margin-left: 0;
    width: 565px;
}

.main_foods .transform img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.main_foods .transform img:hover {
    transform:scale(1.05,1.05);
    transition:0.1s;
    box-shadow:4px 4px 4px rgb(88, 87, 79);
}

.main_foods .display img {
    width: 100%;
    height: 100%;
}

.main_foods .depiction img {
    padding-left: 75px;
    width: 380px;
    height: 200px;
}

.onbackgroundfood .fruitbasket {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -120px;
}

.onbackgroundfood .fruitbasket img {
    width: 200px;
    height: 150px;
}

.onbackgroundfood .plain {
    position: absolute;
    bottom: 0;
    margin-bottom: -100px;
    margin-right: 180px;
}

.onbackgroundfood .plain img {
    width: 200px;
    height: 100px;
}

.Shopinfo {
    position: relative;
    margin: auto;
    width: 960px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.30);
}

.Shopinfo a {
    bottom: 0;
    right: 0;
    margin-bottom: 160px;
    margin-right: 330px;
    position: absolute;
    margin-left: 57.5px;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.95);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    background-color: rgba(255, 70, 70, 0.9);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.Shopinfo a:hover {
    background-color: rgba(167, 29, 29, 0.9);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.Shopinfo .container {
    margin: auto;
    width: 960px;
}

.Shopinfo .address {
    width: 200px;
    display: block;
    margin: auto;
}

.Shopinfo .address img {
    width: 200px;
    height: 100px;
}

.Shopinfo .container .map {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 200px 50px 200px 50px;
    box-sizing: border-box;
    height: 400px;
    text-align: center;
}

.Shopinfo .container .map img {
    width: 430px;
    height: 350px;
    padding: 25px;
}

.Shopinfo .container .text {
    text-align: center;
    width: 750px;
    margin: auto;
}

.Shopinfo .container .text h3 {
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.55);
}

.Shopinfo .container .text p {
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.55);
}

.onbackgroundInfo .coordinate {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-top: -5px;
}

.onbackgroundInfo .coordinate img {
    width: 40px;
    height: 80px;
}

.onbackgroundInfo .like {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 100px;
    margin-bottom: 50px;
}

.onbackgroundInfo .like img {
    width: 150px;
    height: 50px;
}

.footer {
    padding-top: 100px;
}

.footer .container {
    border-radius: 20px 20px 0 0;
    background-color: rgba(15, 15, 15, 0.80);
    width: 960px;
    height: 250px;
    margin: auto;
}

.footer .container .box {
    width: 180px;
    height: 100px;
    margin: 5px;
    float: left;
    text-align: center;
}

.footer .container .box h3 {
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    padding-top: 35px;
    color: rgba(255, 255, 255, .85);
}

.footer .container .box h3:hover {
    font-size: 20px;
    color: rgb(245, 201, 120);
}

.footer .container .item {
    text-align: center;
}

.footer .container .item p {
    text-align: center;
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 15px;
    color: rgba(255, 255, 255, .85);
}

.footer .container .box img {
    padding-top: 12.5px;
    width: 145px;
    height: 68px;
}

.footer .container .box img:hover {
    padding-top: 10.5px;
    width: 147px;
    height: 70px;
}

.story {
    margin: auto;
    width: 950px;
    height: 650px;
    margin-bottom: 150px;
}

.story .container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.30);
}

.story .container .text {
    margin: 25px;
    width: 900px;
    height: 275px;
    margin-bottom: 0;
}

.story .container .text h3 {
    color: rgba(0, 0, 0, 0.95);
    text-align: center;
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 10px;
}

.story .container .text p {
    color: rgba(0, 0, 0, 0.75);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 15px;
    line-height: 32px;
}

.story .container .item {
    margin: 25px;
    width: 425px;
    height: 300px;
    float: left;
}

.story .container .item img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.introduce {
    margin: auto;
    width: 950px;
    height: 500px;
    margin-bottom: 150px;
    position: relative;
}

.introduce .container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.30);
}

.introduce .container .image {
    width: 500px;
    height: 500px;
    float: left;
}

.introduce .container .image img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.introduce .container .box {
    margin: 15px;
    width: 420px;
    height: 600px;
    float: left;
}

.introduce .container .box h3 {
    color: rgba(0, 0, 0, 0.95);
    text-align: center;
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    padding-bottom: 10px;
}

.introduce .container .box p {
    color: rgba(0, 0, 0, 0.75);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 15px;
}

.foodsAdornment img {
    height: 300px;
    width: 420px;
}

.salad {
    position: absolute;
    bottom: 0;
    margin-bottom: -30px;
    margin-left: 190px;
    border-radius: 10px;
    border: 10px solid rgba(255, 255, 255, 0.2);
}

.pork {
    position: absolute;
    bottom: 0;
    margin-bottom: -10px;
    margin-left: -80px;
    border-radius: 10px;
    border: 10px solid rgba(255, 255, 255, 0.2);
}

.introduce .house .image img {
    width: 450px;
    height: 350px;
    border: 10px solid rgba(255, 255, 255, 0.2);
}

.introduce .house .image .europeanStyle {
    position: absolute;
    top: 0;
    margin-top: 40px;
    margin-left: 30px;
}

.introduce .house .image .woodHouse {
    position: absolute;
    bottom: 0;
    margin-bottom: -60px;
    margin-left: 350px;
}

.introduce .view img {
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-top: 60px;
    height: 300px;
    width: 400px;
}

.primary {
    margin: auto;
    width: 950px;
    height: 500px;
    background-image: url(../img/paper.png);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 150px;
}

.primary .container {
    width: 950px;
    height: 375px;
    box-sizing: border-box;
    position: relative;
}

.primary .container .item {
    margin: auto;
    margin-top: 25px;
    height: 150px;
    width: 900px;
    position: relative;
}

.primary .container .item .box {
    width: 420px;
    height: 150px;
    float: left;
    margin-right: 20px;
}

.primary .container .starHouse {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -100px;
    margin-right: 125px;
    width: 320px;
    height: 200px;
}

.primary .container .pasta {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 70px;
    width: 320px;
    height: 200px;
}

.primary .container .vegetables {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 250px;
    width: 200px;
    height: 150px;
}

.primary .container .streeHouse {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 30px;
    width: 220px;
    height: 100px;
}

.primary .container .item .box p {
    color: rgba(0, 0, 0, 0.75);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 15px;
}

.primary .container .item .box h3 {
    color: rgba(0, 0, 0, 0.95);
    text-align: left;
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    padding-bottom: 10px;
}

.europe {
    margin: auto;
    width: 960px;
    height: 650px;
    text-align: center;
}

.europe h1 {
    color: rgba(0, 0, 0, 0.75);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 32px;
}

.europe h3 {
    color: rgba(0, 0, 0, 0.95);
    text-align: center;
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    padding: 10px;
}

.europe p {
    text-align: left;
    padding: 20px;
    color: rgba(0, 0, 0, 0.75);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 15px;
    line-height: 32px;
}

.europeTitle {
    background-image: url(../img/paper.png);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 75px;
}

.europeTitle h1 {
    text-align: left;
    padding-bottom: 25px;
    padding-left: 25px;
}

.europeTitle .eur {
    width: 450px;
}

.europeTitle .brush {
    left: 0;
    margin-top: -50px;
    position: absolute;
}

.europeTitle .threeHouse {
    width: 200px;
    height: 150px;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 50px;
    position: absolute;
}

.europeTitle .balloon {
    width: 150px;
    height: 180px;
    left: 0;
    bottom: 0;
    margin-left: 10px;
    margin-bottom: -50px;
    position: absolute;
}

.europeTitle .napkin {
    width: 150px;
    height: 100px;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    position: absolute;
}

.europeTitle .boom {
    width: 150px;
    height: 100px;
    left: 0;
    bottom: 0;
    margin-left: 120px;
    margin-bottom: 210px;
    position: absolute;
}

.europeTitle .photo {
    width: 150px;
    height: 100px;
    right: 0;
    top: 0;
    margin-right: 180px;
    margin-top: 100px;
    position: absolute;
}

.europeTitle .smile {
    width: 150px;
    height: 100px;
    right: 0;
    top: 0;
    margin-right: 70px;
    margin-top: 100px;
    position: absolute;
}

.europeTitle .smile1 {
    width: 220px;
    height: 200px;
    left: 0;
    bottom: 0;
    margin-left: -30px;
    position: absolute;
}

.europeTitle .cake {
    width: 150px;
    height: 100px;
    right: 0;
    top: 0;
    margin-right: 70px;
    margin-top: 20px;
    position: absolute;
}

.europeTitle .cup {
    width: 200px;
    height: 200px;
    left: 0;
    bottom: 0;
    margin-left: -70px;
    margin-bottom: 10px;
    position: absolute;
}

.europeTitle .wreath {
    width: 250px;
    height: 250px;
    right: 0;
    bottom: 0;
    position: absolute;
}

.europeTitle .wreath1 {
    width: 300px;
    height: 200px;
    left: 0;
    top: 0;
    margin-left: -70px;
    margin-top: 120px;
    position: absolute;
}

.europeTitle .hookbanner {
    width: 180px;
    height: 100px;
    left: 0;
    top: 0;
    margin-left: 150px;
    margin-top: 100px;
    position: absolute;
}

.europeTitle .welcome {
    bottom: 0;
    width: 200px;
    height: 50px;
    margin-bottom: -10px;
    position: absolute;
}

.largeFrame {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.30);
}

.houseBox .container {
    padding: 25px;
    margin: auto;
    width: 960px;
    height: 625px;
}

.houseBox .container .item {
    width: 910px;
    height: 269px;
}

.houseBox .container .item .text {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.30);
}

.houseBox .container .item .box {
    position: relative;
    margin-right: 25px;
    margin-left: 25px;
    width: 405px;
    height: 269px;
    float: left;
}

.houseBox .container .house img {
    width: 100%;
    height: 100%;
}
.houseBox .container .house img:hover{
    transform:scale(1.1,1.1);
    transition:all 0.5s ease-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    overflow:hidden;
}

.houseBox .container .house a {
    bottom: 0;
    right: 0;
    z-index: 1;
    margin-bottom: -9px;
    position: absolute;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.95);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    background-color: rgba(255, 70, 70, 0.95);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.houseBox .container .house a:hover{
    background-color: rgba(167, 29, 29, 0.9);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.houseBox .container .text a {
    bottom: 0;
    right: 0;
    margin-bottom: -9px;
    position: absolute;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.80);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    background-color: rgb(88, 87, 79);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.55);
}

.houseBox .container .text a:hover {
    background-color: rgb(180, 179, 169);
}
.summary {
    margin-bottom: 100px;
}

.summary .text {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.30);
    margin: auto;
    width: 950px;
    height: 300px;
    text-align: center;
    line-height: 32px;
}

.summary .text h3 {
    color: rgba(0, 0, 0, 0.95);
    text-align: center;
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 10px;
}

.summary .text p {
    color: rgba(0, 0, 0, 0.75);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 15px;
    line-height: 32px;
}

.summary .item {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    width: 283px;
    height: 150px;
    background-color: rgba(251, 255, 0, 0.3);
}
.summary .item:hover{
    background-color: rgba(251, 255, 0, 0.8);
    border-radius: 50px;
    transition: 0.5s;
}
.summary .item a{
    text-decoration: none;
}
.summary .item h3 {
    padding: 58.5px;
}

.right_radius .container {
    margin: auto;
    width: 960px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 0 100px 100px 0;
    margin-bottom: 50px;
}

.right_radius .container .box {
    float: left;
    margin-left: 25px;
    width: 442.5px;
    margin-top: 25px;
    height: 450px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.30);
}

.right_radius .container .box:nth-child(2) {
    border-radius: 0 100px 100px 0;
}

.right_radius .container .box img {
    width: 100%;
    height: 100%;
    border-radius: 0 100px 100px 0;
}

.left_radius .container {
    margin: auto;
    width: 960px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 100px 0 0 100px;
    margin-bottom: 50px;
}

.left_radius .container .box {
    float: left;
    margin-left: 25px;
    width: 442.5px;
    margin-top: 25px;
    height: 450px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.30);
}

.left_radius .container .box:nth-child(1) {
    border-radius: 100px 0 0 100px;
}

.left_radius .container .box img {
    width: 100%;
    height: 100%;
    border-radius: 100px 0 0 100px;
}

.point .box h3 {
    padding-top: 100px;
    color: rgba(0, 0, 0, 0.95);
    text-align: center;
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 10px;
}

.point .box p {
    color: rgba(0, 0, 0, 0.75);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 15px;
    line-height: 32px;
    padding-right: 25px;
    padding-left: 25px;
}

.center {
    margin: auto;
    width: 960px;
    margin-bottom: 150px;
    position: relative;
}

.center .cheers {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 100px;
    margin-top: 80px;
}

.center .store {
    width: 280px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 80px;
    margin-top: 480px;
}

.center .store1 {
    width: 280px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 250px;
}

.ADTitle {
    width: 200px;
    display: block;
    margin: auto;
}

.ADTitle img {
    width: 200px;
    height: 100px;
}

.content {
    margin: auto;
    width: 960px;
    height: 1025px;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 10px;
}

.content h3 {
    padding-top: 100px;
    color: rgba(0, 0, 0, 0.95);
    text-align: center;
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    line-height: 32px;
}

.content p {
    color: rgba(0, 0, 0, 0.75);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 15px;
    line-height: 42px;
    padding-right: 25px;
    padding-left: 25px;
}
.map_frame img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.map_frame{
    position: relative;
}
.content .redPoint{
    margin-left: 158px;
    margin-top: 175px;
    top: 0;
    left: 0;
    position: absolute;
    width: 11px;
    height:11px;
    border-radius: 5px;
    background-color: rgb(145, 7, 7);
    animation:redPoint 0.5s ease infinite;
}
@keyframes redPoint{
    0% {opacity:0.1;};
    100%{opacity:1;};
}

.inputDate {
    margin: auto;
    width: 960px;
    height: 650px;
}

.inputDate .container {
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 10px;
    width: 960px;
    height: 800px;
}

.inputDate .container .title {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 10px;
    margin-bottom: 25px;
}

.inputDate .container .title .box {
    margin: 25px;
    float: left;
    width: 190px;
    height: 50px;
    box-sizing: border-box;
}

.inputDate .container .title .box a {
    margin-top: 10px;
    margin-left: 54px;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.95);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    background-color: rgb(88, 87, 79);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.inputDate .container .title .box a {
    background-color: rgb(180, 179, 169);
}
.inputDate .container .title .box a:hover{
    background-color: rgb(141, 140, 136);
}
.inputDate .container .title .box .round {
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    height: 10px;
    width: 10px;
    border: 1px solid #000;
}

.inputDate .container .title .frist :first-of-type:first-child {
    background-color: rgb(88, 87, 79);
    ;
}

.inputDate .container .title .box p {
    vertical-align: middle;
    margin-bottom: 25px;
    display: inline-block;
}

.inputDate .container .title h3 {
    padding-top: 100px;
    color: rgba(0, 0, 0, 0.95);
    text-align: center;
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    line-height: 32px;
}

.inputDate .container .title p {
    color: rgba(0, 0, 0, 0.75);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 15px;
    line-height: 42px;
    padding-right: 25px;
    padding-left: 25px;
}

.inputDate .container .item {
    margin: auto;
    height: 550px;
    width: 910px;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 10px;
    margin-bottom: 25px;
}

.inputDate .container .item .inbox {
    float: left;
    margin: 25px;
    width: 405px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.30);
}

.inputDate .container .item .inbox img {
    padding-top: 125px;
    height: 50%;
    width: 100%;
}

.inputDate .container .item .inbox h3 {
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 22px;
    line-height: 42px;
}

.inputDate .container .item .inbox p {
    color: rgba(0, 0, 0, 0.75);
    font-family: NotoSansCJKtc-Light;
    font-weight: 800;
    font-size: 15px;
    line-height: 32px;
    padding-right: 25px;
    padding-left: 25px;
}

.inputDate .container .checkIn {
    margin: auto;
    height: 75px;
    width: 910px;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 10px;
}

.inputDate .container .checkIn .date {
    float: left;
    margin: 25px;
    width: 405px;
    height: 25px;
}